# EditorConfig 代码编辑器配置信息

root = true

# 应用于所有文件
[*]
# 字符集
charset = utf-8
# 缩进符
indent_style = space
# 缩进数
indent_size = 2

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
