{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/core-modules": [
      "react",
      "react-dom",
      "prop-types"
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "linebreak-style": [0, "error", "windows"],
    "comma-dangle": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "arrow-body-style": 0,
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          [
            "%",
            "**"
          ],
          [
            "%",
            "+"
          ],
          [
            "%",
            "-"
          ],
          [
            "%",
            "*"
          ],
          [
            "%",
            "/"
          ],
          [
            "**",
            "+"
          ],
          [
            "**",
            "-"
          ],
          [
            "**",
            "*"
          ],
          [
            "**",
            "/"
          ],
          [
            "&",
            "|",
            "^",
            "~",
            "<<",
            ">>",
            ">>>"
          ],
          [
            "==",
            "!=",
            "===",
            "!==",
            ">",
            ">=",
            "<",
            "<="
          ],
          [
            "&&",
            "||"
          ],
          [
            "in",
            "instanceof"
          ]
        ],
        "allowSamePrecedence": false
      }
    ],
    "no-template-curly-in-string": 1,
    "react/prop-types": [2, { "ignore": ["children", "className"] }],
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react/jsx-filename-extension": [2, { "extensions": [".tsx", ".jsx"] }],
    "jsx-a11y/label-has-for": 0
  }
}