node_modules/
docs/
demo/
examples/
webpack.config.js
test/
dist/
lib/
node_modules/
/packages/*/node_modules
babel.config.js
es.babel.config.js
/packages/*/lib
/packages/*/es
/packages/*/dist
dist/
mochawesome-reports/
lib/
