.sifo-mplg-drag-editor .sifo-mplg-drag-render-plate *[draggable]:hover{
  outline: 1px dotted #4b90f9;
}
.sifo-drag {
  outline: 2px dashed #4b90f9 !important;
  box-shadow: none !important;
}
.sifo-drag-selected {
  box-shadow: 0 0 0px 1px #4b90f9;
}
.sifo-drag-selected:hover{
  cursor: grab;
}
.sifo-drag-selected:active{
  cursor: grabbing;
}
.sifo-drop-insert{
  box-shadow: 0 0 4px 1px #f9814a;
}
.sifo-drag-selected.sifo-drop-insert {
  box-shadow: 0 0 4px 1px #f9814a;
}
.sifo-drop-pre-insert {
  box-shadow: -1px -1px 4px 1px #36d3fa;
}
.sifo-drag-selected.sifo-drop-pre-insert {
  box-shadow: -1px -1px 4px 1px #36d3fa;
}
.sifo-drop-pre-insert::before{
  content: '';
}
.sifo-drop-sub-insert {
  box-shadow: 1px 1px 4px 1px #42d542;
}
.sifo-drag-selected.sifo-drop-sub-insert {
  box-shadow: 1px 1px 4px 1px #42d542;
}
.sifo-drop-sub-insert::after{
  content: '';
}
